# TAKE HOME EXERCISE 1:

In [2]:
import pandas as pd
datafile=pd.read_csv("coviddata.csv",delimiter=",")
states=datafile["State"]

In [3]:
states1=list(states)
states1

['Andaman and Nicobar',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telengana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [29]:
states

0        Andaman and Nicobar
1             Andhra Pradesh
2          Arunachal Pradesh
3                      Assam
4                      Bihar
5                 Chandigarh
6               Chhattisgarh
7     Dadra and Nagar Haveli
8                      Delhi
9                        Goa
10                   Gujarat
11                   Haryana
12          Himachal Pradesh
13         Jammu and Kashmir
14                 Jharkhand
15                 Karnataka
16                    Kerala
17                    Ladakh
18               Lakshadweep
19            Madhya Pradesh
20               Maharashtra
21                   Manipur
22                 Meghalaya
23                   Mizoram
24                  Nagaland
25                    Odisha
26                Puducherry
27                    Punjab
28                 Rajasthan
29                    Sikkim
30                Tamil Nadu
31                 Telengana
32                   Tripura
33             Uttar Pradesh
34               Uttarakhand
35               West Bengal
Name: State, dtype: object

In [36]:
infected1=list(infected)
infected1

[100,
 15252,
 195,
 8582,
 10249,
 446,
 2940,
 215,
 89802,
 1387,
 33232,
 14941,
 979,
 7695,
 2521,
 16514,
 4593,
 990,
 0,
 13861,
 180298,
 1260,
 52,
 160,
 459,
 7316,
 714,
 5668,
 18312,
 101,
 94049,
 17357,
 1396,
 24056,
 2947,
 19170]

In [35]:
infected=datafile["Confirmed"]
infected

0        100
1      15252
2        195
3       8582
4      10249
5        446
6       2940
7        215
8      89802
9       1387
10     33232
11     14941
12       979
13      7695
14      2521
15     16514
16      4593
17       990
18         0
19     13861
20    180298
21      1260
22        52
23       160
24       459
25      7316
26       714
27      5668
28     18312
29       101
30     94049
31     17357
32      1396
33     24056
34      2947
35     19170
Name: Confirmed, dtype: int64

In [40]:
recovered=datafile["Recovered"]
recovered

0        50
1      6988
2        66
3      5851
4      7946
5       367
6      2303
7        86
8     59992
9       670
10    24030
11    10499
12      614
13     4856
14     1931
15     8063
16     2439
17      694
18        0
19    10655
20    93154
21      579
22       42
23      123
24      168
25     5353
26      272
27     3867
28    14574
29       53
30    52926
31     8082
32     1093
33    16629
34     2317
35    12528
Name: Recovered, dtype: int64

In [42]:
recovered1=tuple(recovered)
recovered1

(50,
 6988,
 66,
 5851,
 7946,
 367,
 2303,
 86,
 59992,
 670,
 24030,
 10499,
 614,
 4856,
 1931,
 8063,
 2439,
 694,
 0,
 10655,
 93154,
 579,
 42,
 123,
 168,
 5353,
 272,
 3867,
 14574,
 53,
 52926,
 8082,
 1093,
 16629,
 2317,
 12528)

In [43]:
dict_res={states1[i]:infected1[i] for i in range(len(infected1))}

In [44]:
dict_res

{'Andaman and Nicobar': 100,
 'Andhra Pradesh': 15252,
 'Arunachal Pradesh': 195,
 'Assam': 8582,
 'Bihar': 10249,
 'Chandigarh': 446,
 'Chhattisgarh': 2940,
 'Dadra and Nagar Haveli': 215,
 'Delhi': 89802,
 'Goa': 1387,
 'Gujarat': 33232,
 'Haryana': 14941,
 'Himachal Pradesh': 979,
 'Jammu and Kashmir': 7695,
 'Jharkhand': 2521,
 'Karnataka': 16514,
 'Kerala': 4593,
 'Ladakh': 990,
 'Lakshadweep': 0,
 'Madhya Pradesh': 13861,
 'Maharashtra': 180298,
 'Manipur': 1260,
 'Meghalaya': 52,
 'Mizoram': 160,
 'Nagaland': 459,
 'Odisha': 7316,
 'Puducherry': 714,
 'Punjab': 5668,
 'Rajasthan': 18312,
 'Sikkim': 101,
 'Tamil Nadu': 94049,
 'Telengana': 17357,
 'Tripura': 1396,
 'Uttar Pradesh': 24056,
 'Uttarakhand': 2947,
 'West Bengal': 19170}